@use '../globalStyles/mixins' as m;
@use '../globalStyles/variables' as v;

.markdown {
  h1 {
    font-size: m.size(large-2);
    font-weight: m.weight(light-bold);
  }

  h2 {
    font-size: m.size(large-1);
    font-weight: m.weight(light-bold);
  }

  h3 {
    font-size: m.size(large-0);
    font-weight: m.weight(light-bold);
    margin-left: 1rem;
  }

  a {
    color: m.color(primary);

    &:hover {
      font-weight: m.weight(light-bold);
    }
  }

  ul {
    & > li {
      margin: 0.25rem 1.125rem;

      &::before {
        content: '';
        height: 20px;
        width: 20px;
        vertical-align: middle;
        background-repeat: no-repeat;
        position: relative;
        display: inline-block;
        background-image: url('../assets/static/images/check-mark.png');
        background-repeat: no-repeat;
        background-size: contain;
      }
    }

    & > customli {
      display: block;
      margin: 0.25rem 1.125rem;

      &::before {
        content: '';
        height: 20px;
        width: 20px;
        vertical-align: middle;
        background-repeat: no-repeat;
        position: relative;
        display: inline-block;
        background-image: url('../assets/static/images/check-light.png');
        background-repeat: no-repeat;
        background-size: contain;
      }
    }
  }

  ol {
    counter-reset: number-counter;

    li {
      margin: 0.25rem 0;
      counter-increment: number-counter;
      vertical-align: middle;
      line-height: 1.5;

      &::before {
        content: '0' counter(number-counter);
        position: relative;
        display: inline-block;
        text-align: center;
        font-size: m.size(small-0);
        font-weight: m.weight(light-bold);
        color: m.color(primary);
        margin-right: 0.375rem;
        padding: 0 0.225rem;
        background-color: m.color(primary-opacity-heavy);
        border-radius: v.$border-radius;
      }
    }
  }

  strong {
    background-color: m.color(primary-opacity-heavy);
    padding: 0 0.225rem;
    color: m.color(main);
  }

  boldred {
    background-color: m.color(alert-opacity);
    padding: 0 0.225rem;
    color: m.color(main);
    font-weight: m.weight(semi-bold);
  }

  boldblue {
    background-color: m.color(dark-event-opacity);
    padding: 0 0.225rem;
    color: m.color(main);
    font-weight: m.weight(semi-bold);
  }

  boldgreen {
    background-color: m.color(safe-opacity);
    padding: 0 0.225rem;
    color: m.color(main);
    font-weight: m.weight(semi-bold);
  }

  code {
    vertical-align: middle;
    background-color: m.color(grey-0);
    border-radius: 6px;
    font-size: m.size(small-0);
    font-weight: m.weight(medium);
    color: m.color(grey-10);
    display: inline-block;
    padding: 0.2em 0.4em;
    margin: 0 0.225rem;
    height: fit-content;
  }

  p {
    display: flex;
    flex-flow: wrap;
    align-items: center;
  }

  blockquote {
    position: relative;
    margin: 0.825rem 0;
    color: m.color(grey-9);
    padding: 0.5rem 0.25rem;
    position: relative;
    padding-left: 1.5rem;
    padding: 0.75rem 1.5rem;
    background: m.color(grey-light);

    &::before {
      content: '';
      width: 5px;
      height: 100%;
      background: #ccd5dd;
      position: absolute;
      top: 0;
      left: 0;
      display: block;
    }
  }
}